@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link:hover{
    color: salmon !important;
}

.btn:hover{
    background-color: salmon !important;
}

.bg-orange{
    color: salmon !important;
}

.container{
    border-radius: 8px !important;
}


.row{
    width: 600px;
    display: flex;
    margin: auto !important;
}

#desc{
    resize: none !important;
}

.dateForm{
    margin-left: -10px !important;
}

.input-group-text{
    width: 100% !important;
}