@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link:hover{
    color: salmon !important;
}

.btn:hover{
    background-color: salmon !important;
}


.title{
    margin-bottom: 0px;
}

/* .nav-left ul li a:hover{
    color: salmon;
}

.nav-left ul li a{
    font-size: 20px;
} */

.contactform { 
    margin: 1em auto;
    width: 35%;
    padding-bottom: 3em;
}

.contactform h1 {
    text-align: center;
}

.contactform form div {
    margin-top: 15px;
}

label {
    font-size: 20px;
}

input,
select,
textarea {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 15px #9f9f9f;
    resize: none;
}

.button-submit {
    background-color: rgb(0, 0, 0);
        color: white;
        padding: 6px 25px;
        border: none;
        border-radius: 10px;
        float: right;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 0 0 15px #9f9f9f;
}

.button-submit:hover{
    background-color: salmon;
}

@media only screen and (max-width: 550px){
    .contactform{
        width: 85%;
    }
}