@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    /* background-color: #e0e4ea; */
    margin: 0;
    padding: 0;
    background-image: url(img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #f5f2f3;
    display: flex;
    align-items: center;
    height: 10%;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 25px;
    font-size: 20px;
}

nav ul li a {
    color: black;
}

nav ul li a:hover {
    color: salmon;
}

nav ul li .active {
    font-weight: bold;
}

.nav-left {
    flex: 50%;
}

.nav-left ul li img{
    cursor: pointer;
}

.nav-left ul li a img:hover{
    transform: scale(1.1);
    transition: ease-in-out;
}

.nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
}

.nav-right a {
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.nav-right a:hover {
    background-color: salmon;
}

.barsmenu {
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    display: none;
    margin-right: 0.5em;
    font-size: 1.1em;
}

.barsmenu:hover{
    color: salmon;
}

.hamburger-container {
    display: flex; 
    list-style-type: none;
    flex-direction: column;
    background-color: #9a9a9a;
    display: none;
    padding-bottom: 0.5em;
}

.hamburger-container a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.55em;
}

.hamburger-container a:hover {
    color: salmon;
}

.hamburger-active {
    font-weight: 700;
}

.hamburger-contact {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 2.3em;
    border-radius: 10px;
}

.hamburger-contact a {
    padding: 0.4em;
}


.container {
    display: flex;
    margin: 5%;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 15px#565656;
    justify-content:center;
}

.container-left {
    flex: 1;
    text-align: justify;
}


.contact-button {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 8px 23px;
    font-size: 15px;
    cursor: pointer;
    border: none;
}

.contact-button:hover {
    background-color: salmon;
}

.contact {
    margin: 30px 0;
    display: flex;
    width: 90%; 
    align-items: center;
    /* justify-content: center; */
    font-size: 0.8rem;
    font-weight: 400;
}

.contact2 {
    display: flex;
    margin-right: 2em;
}

.contact2 h2{
    font-size: 20px;
}

.contact2 a:hover{
    color: salmon;
}

#myproject a:hover{
    color: salmon;
}

a {
    color: black;
}

.downloadimg {
    height: 30;
    margin-top: 17px;
    gap:10px;
}

.container-right {
    flex: 1;
}

.card {
    width: fit-content;
    margin: 20% auto;
    box-shadow: 0 0 15px #565656;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 3px;
    line-height: 0.3em;
}

.card img {
    width: 20em;
    height: 23em;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card:hover {
    transform: scale(1.1);
    transition: ease-in-out;
    
}

.indexSection {
    display: flex;
    width: 80%;
    align-items: center;
}

.sosmed {
    text-align: start;
}

.sosmed i {
    font-size: 3rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    color: black;
}

.sosmed i:hover{
    color: salmon;
}


@media only screen and (max-width: 768px) {
    .indexSection {
        width: 90%; 
        flex-direction: column;
        padding: 1em 1em;
    }

    .contact{
        margin: 30px 30px;
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .container-left {
        width: 100%;
        flex: 1;
    }

    .container-left p,h1{
        text-align: center;
    }

    .container-right img {
        width: 13em;
        height: 14em;
        
    }

    .sosmed{
        text-align: center;
    }

    /* .contactform{
        width: 85%;
    } */

    .contactform { 
        margin: 1em auto;
        width: 40%;
        padding-bottom: 3em;
    }

}

@media only screen and (max-width: 550px) {
    .item-collapse {
        display: none;
    }

    .barsmenu {
        display: block; 
    }

    /* .contactform {
        width: 85%;
    } */

    .contactform { 
        margin: 1em auto;
        width: 40%;
        padding-bottom: 3em;
    }

    .sosmed{
        text-align: center;
    }

    .contact{
        margin: 30px 30px;
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
    }
}