@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(img/back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link:hover{
    color: salmon !important;
}

.btn:hover{
    background-color: salmon !important;
}


.container-rating {
    margin: 1em auto;
    width: fit-content;
}

.container-rating button {
    background-color: black;
    color: aliceblue;
    border-radius: 8px;
    font-size: 1.1em; 
    cursor: pointer;
    border: none;
}

.container-rating button:hover {
    background-color: salmon;
}

.container-testi {
    display: grid;
    grid-template-columns: 22em 22em 22em;
    gap: 4em;
    width: 77%;
    margin: 3em auto;
}

.testi-item {
    padding: 1em;
    width: min-content;
    border-radius: 8px;
    box-shadow: 0 0 15px #c4c1c1;
    background-color: aliceblue;
}

.testi-item:hover{
    transition: ease-in-out;
    transform: scale(1.1);
}

.testi-img {
    display: block;
    width: 20em;
    object-fit: cover;
}

.quote {
    text-align: justify;
}

.author {
    text-align: right;
}

.rating {
    text-align: right;
}

@media only screen and (max-width: 768px) {

    .container-testi {
        grid-template-columns: 18em 18em;
    }

    .testi-img {
        width: 18em; 
    }
}

@media only screen and (max-width: 550px) {

    .container-testi {
        display: block;
    }

    .testi-img {
        width: 16.5em; 
    }

    .testi-item {
        margin-bottom: 2em;
    }
}