@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(img/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-item a:hover{
    color: salmon !important;
}

.navbar-nav .bg-black:hover{
    background-color: salmon !important;
}
/* index-start */
.contact-btn:is(:hover, :focus){
    background-color: salmon !important;
    letter-spacing: 2px !important;
}

.icon-sosmed a:hover{
    color: salmon !important;
}


.card:hover{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.fa-brands:hover{
    color: salmon !important;
}

.button-group{
    cursor: pointer;
}

.btn:hover{
    background-color: salmon !important;
}
/* index-end */


@media only screen and (min-width: 900px) {
    .form-size {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}